// variables
$primary:#E20225;
$white:#ffffff;
$black:#000000;





// styles

.header-wrapper {
    
    header {
        background: $primary;
        border-radius: 1rem;
        margin-bottom: 1rem;
        padding:1rem 0;
            display: flex;
    flex-direction: column;
    align-items: center;
    }

    .header-title {
        color: $white;
        font-size: 18px;
        letter-spacing: 6px;
        display: inline-block;
        font-weight: 300;
        margin-bottom: 20px;

        @media(max-width:760px) {
            font-size: 16px;
        }
    }

    .chip-wrap {
        background: #ffffff;
        border-radius: 20px;
        display: inline-flex;
        padding: 8px 16px;
        align-items: center;
        justify-content: center;

        .chip-text {
            color: $primary;
            font-size: 12px;
            font-weight: 500;
        }
    }

    img {
        @media screen and (max-width:768px) {
            height: 65px;
        }
    }
}

.header-logo {
    height: 80px;
    width: auto;
    margin: 0 auto 10px auto;
}