
// Variables.
$body-bg: #272635;
$link-bg: #11111A;
$link-color: rgba(255, 255, 255, .6);
$active-link-color: $body-bg;
$white: #fff;
$text-color: #474646;
$pink:#FFECEF;
$primary:#E20225;


.back-btn {
    font-size: 12px;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-left: -5px;
    outline: none;
    padding-left: 20px;
    position: relative;
    color: $primary;
    transition: all .2s linear;

    &:hover {
        box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
        color: $white;
        background: $primary;

        &:after {
            content: "";
            left: 8px;
            border-top-color: $white;
            border-left-color: $white;
        }
    }

    &:after {
        content: "";
        position: absolute;
        left: 10px;
        z-index: 11;
        display: block;
        width: 4px;
        height: 4px;
        border-top: 2px solid $primary;

        border-left: 2px solid $primary;
        transform: rotate(-45deg);
        transition: all .2s linear;
    }
}

.section-wrap {
    background: white;
    padding: 9px 14px;
    border-radius: 16px;
}

.section-title {
    font-size: 28px;
    color: #3D3D3D;
    margin-left: 4px;
    margin: 0.5rem 0;
}


// service grid
.service-grid {
    padding-bottom: 1rem;
    a {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #F2F2F2;
        text-decoration: none;
        align-items: center;
        border-radius: 1rem;
        color: #3D3D3D;
        min-height: 110px;
        padding: 0 1rem;
        width: 140px;
        text-align: center;
        font-size: 14px;
        padding: 10px;
        transition: all .2s linear;
        height: 100%;
        margin: 0 0.5rem;

        @media screen and (max-width:426px) {
            margin: 0;
        }

        &:hover {
            box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
            background: white;

            img {
                transform: scale(1.1);
            }

            .service-grid-text {
                color: $primary;
                font-weight: 500;
            }
        }
    }
    &.no-bg {
        background: none;
        width: 140px;
        min-height: 0;
        margin: 0;
        padding: 0;
    }

    &-container {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-evenly;
        background: $white;
        padding: 1rem 0.5rem;
        padding-bottom: 0;
        border-radius: 10px;

        @media screen and (max-width:426px) {
            justify-content: space-evenly;
            padding: 1rem 0;
        }
    }

    &-text {
        line-height: 20px;
        transition: all .2s linear;
    }

    img {
        height: 50px;
        margin-bottom: 5px;
        transition: all .2s linear;
    }

}

// service chip
.service-chip {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: .5rem;
    width: 15rem;
    position: relative;

    &:hover {
        .service-chip-icon {
            width: 100%;
        }

        .service-chip-text {
            color: $white;
        }
    }


    &-icon {
        background: $primary;
        border-radius: 50px;
        width: 54px;
        height: 54px;
        // padding: 10px;
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);

        img {
            width: 54px;
            height: 100%;
        }
    }

    &-text {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin-left: 10px;
        color: #3D3D3D;
        padding: 1rem 0;
        margin: 0 0 0 60px;
        width: 10rem;
        display: flex;
        white-space: break-spaces;
        align-items: center;
        line-height: 19px;
        font-size: 18px;
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    }
}