// Variables.

$white: #fff;
$primary:#E20225;
$text-grey:#3d3d3d;

.back-btn{
    margin-left:-5px;
}

.section-wrap {
    background: $white;
    padding: 9px 14px;
    border-radius: 16px;
}

.section-title {
    font-size: 28px;
    color: $text-grey;
    margin-left: 4px;
    margin: 0.5rem 0;
}

