<div class="footer-wrapper text-center">
  <div class="footer-text">Copyright@2020 NIC ASIA Bank Limited</div>
  <div class="social-link d-flex justify-content-center align-items-center">
    <a  href="https://www.facebook.com/nicasiabank "  class="d-block">
      <img src="assets/img/socialmedia/facebook.svg" alt="" />
    </a>
    <a  href="https://twitter.com/nic_asia_bank"  class="d-block">
      <img src="assets/img/socialmedia/twitter.svg" alt="" /> </a>
    <a  href="https://www.instagram.com/nicasiabank"  class="d-block">
      <img src="assets/img/socialmedia/instagram.svg" alt="" />
    </a>
    <a  href="https://www.linkedin.com/company/nic-asia-bank"  class="d-block">
      <img src="assets/img/socialmedia/linkedin.svg" alt="" /> </a>
    <a  href="tel:1660-01-77771" class="d-block">
       <img src="assets/img/socialmedia/phone.svg" alt="" />
    </a>
  </div>
</div>
